.createAccountContainer {
  width: 100%;
  max-width: 900px;
  background-color: var(--bg-card-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(-box-shadow-big-soft);
}

.title {
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .createAccountContainer {
    padding: 20px 40px 40px;
  }
}
