.createAccountContainer {
  width: 100%;
  max-width: 900px;
  background-color: var(--bg-card-color);
  padding: 20px;
  border-radius: 6px;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(43, 45, 66, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  h1 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 576px) {
  .createAccountContainer {
    padding: 20px 40px 40px;
  }
}
