.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url("../../assets/images/medical_team_background_image_2048px.jpg") no-repeat center
    0% fixed;
  background-size: cover;
  padding: 10px;
}

.welcomeCard {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  gap: 10px;

  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: var(--box-shadow-big-soft);
}

.welcomeMessage {
  font-size: 42px;
}
.authButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
