:root {
  --bg-color: hsl(0deg, 0%, 95%);
  --border-color: hsl(0deg, 0%, 0%);
  --text-color: hsl(0deg, 0%, 0%);
  --bg-card-color: hsl(183deg, 31%, 34%);
  --error-message-color: hsl(352deg, 82%, 47%);
}
